<form action="../login.php" method="post" style="display: flex; flex-direction: row; padding: 0%; align-items: center;">
    <div style="display: flex; flex-direction: row;">
        <p>
            <label for="user_name">Username:</label>
            <input type="text" name="user_name" id="user_name" size="20" maxlength="20" autofocus>
        </p>
        <p>
            <label for="passwd" style="padding-left: 20px;">Password:</label>
            <input type="password" name="passwd" id="passwd" size="20" maxlength="20">
        </p>
    </div>
    <div>
        <button type="submit">Login</button>
    </div> 
</form>